.player-menu{
  h1{
    pointer-events: none;
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul{
    margin: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;

  }
  li{
    cursor: pointer;

    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    background: cadetblue;
    border-radius: 20px;
    padding: 20px;
    overflow-wrap: anywhere;
    font-size: 1.2rem;
    .story-info {
      width: 70%;
    }
    .story-meta-info{
      width: 10%;
    }
    .story-info-2{
      width: 20%;
      text-align: center;
      overflow-wrap: anywhere;
    }
    h2{
      margin: 0;
      overflow-wrap: anywhere;

    }
    p{
      margin: 0;
      font-size: 1rem;
    }


  }
  button{
    margin: auto;
    cursor: pointer;
  }
  .return-button{
    margin-top: 20px;
  }


  h2{
    margin: 0 0 20px 0;
  }
  p{
    font-size: 1.2rem;
  }

  .end{
    h3{
      text-align: center;

    }
    .like-buttons{
      display: flex;
      flex-direction: row;
      button{
        margin: 20px;
      }
    }

  }

  background: #d3d6da;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;


}